import(spdep, stats, tcltk)
importFrom(rgeos,gContains)
importFrom(quantreg,rqss,plot.rqss,sfn.control)
importFrom(rgl,plot3d)
importFrom(KernSmooth,bkde)
importFrom(robustbase,covMcd)
importFrom(splancs,inout)
export(
angleplotmap,
barmap,
barnbmap,
boxplotmap,
carte,
choix.bubble,
choix.couleur,
choixvarfunc,
clustermap,
dbledensitymap,
dblehistomap,
densitymap,
driftmap,
genpca,
gini,
ginimap,
graphique,
histnbmap,
histobarmap,
histomap,
makeneighborsw,
misolationmap,
moranplotmap,
mvariocloudmap,
neighbourmap,
nonormmoran,
normw,
pcamap,
plot3dmap,
polyboxplotmap,
polylist2list,
rotation,
scattermap,
selectgraph,
selectmap,
selectstat,
slider1,
spdf2list,
variocloudmap
)


