export(adf)
export(adf2)
export(byteint2bit)
export(byteint2bit_list)
export(check_for_matching_geolocation_files)
export(dates_from_fileslist)
export(extract_bit)
export(extract_fn_from_path)
export(extract_time_from_MODISfn)
export(fermat.test)
export(foo)
export(foo2)
export(get_bitgrid)
export(get_bitgrid_2bits)
export(get_date_from_POSIXct)
export(get_dates_from_POSIXct)
export(is.pseudoprime)
export(is.pseudoprime2)
export(make_POSIXct_date)
export(make_cloudcount_product)
export(make_weeks_list)
export(modfns_to_ftp_download_cmd)
export(numslist_to_grd)
export(run_swath2grid)
export(slashslash)
export(sum_bitgrid)
export(unlist_df)
export(unlist_df2)
export(write_MRTSwath_param_file)
export(yearday_to_date)
export(yearmonthday_to_julianday)
