export(pathrow_num)
export(pathrow_poly)
import(methods)
import(rgdal)
import(wrspathrowData)
importFrom(raster,crs)
importFrom(raster,extent)
importFrom(raster,projectExtent)
importFrom(rgeos,gIntersects)
importFrom(sp,CRS)
importFrom(sp,proj4string)
importFrom(sp,spTransform)
