useDynLib(classInt)

importFrom(stats, quantile, kmeans, hclust)
importFrom(grDevices, colorRampPalette, nclass.Sturges)
importFrom(e1071, bclust, clusters.bclust, centers.bclust)
import(class)

export(classIntervals, jenks.tests, findColours, findCols,
   getBclustClassIntervals, getHclustClassIntervals, nPartitions)

S3method(plot, classIntervals)
S3method(print, classIntervals)

