exportPattern("^[[:alpha:]]+")
importFrom(stats,simulate,anova,confint,fitted,predict,update,logLik,vcov,coef)
importFrom(graphics,plot)
importFrom(MASS,gamma.shape,rlm,ginv)
importFrom(Matrix,Matrix,rBind,drop0,isDiagonal,diag,t,solve,Diagonal,cBind,crossprod,tcrossprod)
importFrom(lpSolveAPI,make.lp,lp.control,get.variables,get.dual.solution)
importFrom(lpSolveAPI,set.column,set.rhs,set.constr.type,set.objfn,set.bounds,set.basis)
importFrom(proxy,dist)
importFrom(geometry,delaunayn,convhulln)
importFrom(Rcpp,evalCpp)
importFrom(nlme,getGroups,fixef,ranef,getGroupsFormula,Dim)
importFrom(nlme,getCovariate,corFactor,getCovariateFormula,corMatrix)
export(fixef) ## comes from nlme namespace 
export(ranef) ## comes from nlme namespace
S3method(anova, HLfit)
S3method(coef,corMatern)
S3method(CBIND,matrix)
S3method(CBIND,Matrix)
S3method(RBIND,matrix)
S3method(RBIND,Matrix)
S3method(confint, HLfit)
S3method(logLik, HLfit)
S3method(logLik, HLfitlist)
S3method(fitted, HLfit)
S3method(fixef, HLfit)
S3method(ranef, HLfit)
S3method(fitted, HLfitlist)
S3method(plot, HLfit)
S3method(predict, HLfit)
S3method(simulate, HLfitlist)
S3method(simulate, HLfit)
S3method(summary, HLfit)
S3method(summary, HLfitlist)
S3method(summary, fixedLRT)
S3method(print, ranef)
S3method(print, HLfit)
S3method(print, HLfitlist)
S3method(print, fixedLRT)
S3method(print, predictor)
S3method(print, arglist)
S3method(update, HLfit)
S3method(vcov, HLfit)
useDynLib(spaMM)